In [10]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

Problem 2: German Credit Dataset (72 points)
Given a CSV data file as represented by the sample file GermanCredit.csv (1000 records), load it into a Pandas DataFrame, and perform the following tasks on it.

Preprocessing (31 pts)
1. [8 pts] Drop the 3 columns that contribute the least to the dataset. These would be the columns with the highest number of non-zero 'none' values. Break ties by going left to right in columns. (Your code should be generalizable to drop n columns, but for the rest of the analysis, you can call your code for n=3.)

In [11]:
credits = pd.read_csv(open("GermanCredit.csv"))
column_arr = []
for (columnName, columnData) in credits.iteritems():
    empty_list = columnData[columnData == 'none'].tolist()
    column_arr.append((len(empty_list), columnName, credits.columns.get_loc(columnName)))
sorted_arr = sorted(column_arr, reverse=True, key = lambda x: (x[0], -x[2], x[1]))
for i in range(3):
    del credits[sorted_arr[i][1]]
credits

    checking_status  duration                    credit_history              purpose  credit_amount      savings_status  employment  installment_commitment       personal_status  residence_since   property_magnitude  age     housing  existing_credits                          job  num_dependents foreign_worker class
0              '<0'         6  'critical/other existing credit'             radio/tv           1169  'no known savings'       '>=7'                       4         'male single'                4        'real estate'   67         own                 2                      skilled               1            yes  good
1        '0<=X<200'        48                   'existing paid'             radio/tv           5951              '<100'    '1<=X<4'                       2  'female div/dep/mar'                2        'real estate'   22         own                 1                      skilled               1            yes   bad
2     'no checking'        12  'critical/other existing credit'            education           2096              '<100'    '4<=X<7'                       2         'male single'                3        'real estate'   49         own                 1         'unskilled resident'               2            yes  good
3              '<0'        42                   'existing paid'  furniture/equipment           7882              '<100'    '4<=X<7'                       2         'male single'                4     'life insurance'   45  'for free'                 1                      skilled               2            yes  good
4              '<0'        24              'delayed previously'            'new car'           4870              '<100'    '1<=X<4'                       3         'male single'                4  'no known property'   53  'for free'                 2                      skilled               2            yes   bad
..              ...       ...                               ...                  ...            ...                 ...         ...                     ...                   ...              ...                  ...  ...         ...               ...                          ...             ...            ...   ...
995   'no checking'        12                   'existing paid'  furniture/equipment           1736              '<100'    '4<=X<7'                       3  'female div/dep/mar'                4        'real estate'   31         own                 1         'unskilled resident'               1            yes  good
996            '<0'        30                   'existing paid'           'used car'           3857              '<100'    '1<=X<4'                       4        'male div/sep'                4     'life insurance'   40         own                 1  'high qualif/self emp/mgmt'               1            yes  good
997   'no checking'        12                   'existing paid'             radio/tv            804              '<100'       '>=7'                       4         'male single'                4                  car   38         own                 1                      skilled               1            yes  good
998            '<0'        45                   'existing paid'             radio/tv           1845              '<100'    '1<=X<4'                       4         'male single'                4  'no known property'   23  'for free'                 1                      skilled               1            yes   bad
999      '0<=X<200'        45  'critical/other existing credit'           'used car'           4576        '100<=X<500'  unemployed                       3         'male single'                4                  car   27         own                 1                      skilled               1            yes  good

[1000 rows x 18 columns]

2. [4 pts] Certain values in some of the columns contain unnecessary apostrophes (‘). Remove the apostrophes.

In [12]:
def strip_apos(x):
    if isinstance(x, str):
        return x.strip("\'")
    return x
credits = credits.applymap(strip_apos)
credits

    checking_status  duration                  credit_history              purpose  credit_amount    savings_status  employment  installment_commitment     personal_status  residence_since property_magnitude  age   housing  existing_credits                        job  num_dependents foreign_worker class
0                <0         6  critical/other existing credit             radio/tv           1169  no known savings         >=7                       4         male single                4        real estate   67       own                 2                    skilled               1            yes  good
1          0<=X<200        48                   existing paid             radio/tv           5951              <100      1<=X<4                       2  female div/dep/mar                2        real estate   22       own                 1                    skilled               1            yes   bad
2       no checking        12  critical/other existing credit            education           2096              <100      4<=X<7                       2         male single                3        real estate   49       own                 1         unskilled resident               2            yes  good
3                <0        42                   existing paid  furniture/equipment           7882              <100      4<=X<7                       2         male single                4     life insurance   45  for free                 1                    skilled               2            yes  good
4                <0        24              delayed previously              new car           4870              <100      1<=X<4                       3         male single                4  no known property   53  for free                 2                    skilled               2            yes   bad
..              ...       ...                             ...                  ...            ...               ...         ...                     ...                 ...              ...                ...  ...       ...               ...                        ...             ...            ...   ...
995     no checking        12                   existing paid  furniture/equipment           1736              <100      4<=X<7                       3  female div/dep/mar                4        real estate   31       own                 1         unskilled resident               1            yes  good
996              <0        30                   existing paid             used car           3857              <100      1<=X<4                       4        male div/sep                4     life insurance   40       own                 1  high qualif/self emp/mgmt               1            yes  good
997     no checking        12                   existing paid             radio/tv            804              <100         >=7                       4         male single                4                car   38       own                 1                    skilled               1            yes  good
998              <0        45                   existing paid             radio/tv           1845              <100      1<=X<4                       4         male single                4  no known property   23  for free                 1                    skilled               1            yes   bad
999        0<=X<200        45  critical/other existing credit             used car           4576        100<=X<500  unemployed                       3         male single                4                car   27       own                 1                    skilled               1            yes  good

[1000 rows x 18 columns]

3. [5 pts] The checking_status column has values in 4 categories: 'no checking', '<0', '0<=X<200', and '>=200'. Change these to 'No Checking', 'Low', 'Medium', and 'High' respectively.

In [13]:
categories = ['no checking', '<0', '0<=X<200',  '>=200']
replacement = ['No Checking', 'Low', 'Medium', 'High']
for i in range(4):
    credits.loc[credits['checking_status'] == categories[i], 'checking_status'] = replacement[i]
credits

    checking_status  duration                  credit_history              purpose  credit_amount    savings_status  employment  installment_commitment     personal_status  residence_since property_magnitude  age   housing  existing_credits                        job  num_dependents foreign_worker class
0               Low         6  critical/other existing credit             radio/tv           1169  no known savings         >=7                       4         male single                4        real estate   67       own                 2                    skilled               1            yes  good
1            Medium        48                   existing paid             radio/tv           5951              <100      1<=X<4                       2  female div/dep/mar                2        real estate   22       own                 1                    skilled               1            yes   bad
2       No Checking        12  critical/other existing credit            education           2096              <100      4<=X<7                       2         male single                3        real estate   49       own                 1         unskilled resident               2            yes  good
3               Low        42                   existing paid  furniture/equipment           7882              <100      4<=X<7                       2         male single                4     life insurance   45  for free                 1                    skilled               2            yes  good
4               Low        24              delayed previously              new car           4870              <100      1<=X<4                       3         male single                4  no known property   53  for free                 2                    skilled               2            yes   bad
..              ...       ...                             ...                  ...            ...               ...         ...                     ...                 ...              ...                ...  ...       ...               ...                        ...             ...            ...   ...
995     No Checking        12                   existing paid  furniture/equipment           1736              <100      4<=X<7                       3  female div/dep/mar                4        real estate   31       own                 1         unskilled resident               1            yes  good
996             Low        30                   existing paid             used car           3857              <100      1<=X<4                       4        male div/sep                4     life insurance   40       own                 1  high qualif/self emp/mgmt               1            yes  good
997     No Checking        12                   existing paid             radio/tv            804              <100         >=7                       4         male single                4                car   38       own                 1                    skilled               1            yes  good
998             Low        45                   existing paid             radio/tv           1845              <100      1<=X<4                       4         male single                4  no known property   23  for free                 1                    skilled               1            yes   bad
999          Medium        45  critical/other existing credit             used car           4576        100<=X<500  unemployed                       3         male single                4                car   27       own                 1                    skilled               1            yes  good

[1000 rows x 18 columns]

4. The savings_status column has values in 4 categories: 'no known savings', '<100', '100<=X<500', '500<=X<1000', and '>=1000'. Change these to 'No Savings', 'Low', 'Medium', 'High', and 'High' respectively. (Yes, the last two are both 'High').

In [14]:
savings_categories = ['no known savings', '<100', '100<=X<500', '500<=X<1000', '>=1000']
savings_replacement = ['No Savings', 'Low', 'Medium', 'High', 'High']
for i in range(5):
    credits.loc[credits['savings_status'] == savings_categories[i], 'savings_status'] = savings_replacement[i]
credits

    checking_status  duration                  credit_history              purpose  credit_amount savings_status  employment  installment_commitment     personal_status  residence_since property_magnitude  age   housing  existing_credits                        job  num_dependents foreign_worker class
0               Low         6  critical/other existing credit             radio/tv           1169     No Savings         >=7                       4         male single                4        real estate   67       own                 2                    skilled               1            yes  good
1            Medium        48                   existing paid             radio/tv           5951            Low      1<=X<4                       2  female div/dep/mar                2        real estate   22       own                 1                    skilled               1            yes   bad
2       No Checking        12  critical/other existing credit            education           2096            Low      4<=X<7                       2         male single                3        real estate   49       own                 1         unskilled resident               2            yes  good
3               Low        42                   existing paid  furniture/equipment           7882            Low      4<=X<7                       2         male single                4     life insurance   45  for free                 1                    skilled               2            yes  good
4               Low        24              delayed previously              new car           4870            Low      1<=X<4                       3         male single                4  no known property   53  for free                 2                    skilled               2            yes   bad
..              ...       ...                             ...                  ...            ...            ...         ...                     ...                 ...              ...                ...  ...       ...               ...                        ...             ...            ...   ...
995     No Checking        12                   existing paid  furniture/equipment           1736            Low      4<=X<7                       3  female div/dep/mar                4        real estate   31       own                 1         unskilled resident               1            yes  good
996             Low        30                   existing paid             used car           3857            Low      1<=X<4                       4        male div/sep                4     life insurance   40       own                 1  high qualif/self emp/mgmt               1            yes  good
997     No Checking        12                   existing paid             radio/tv            804            Low         >=7                       4         male single                4                car   38       own                 1                    skilled               1            yes  good
998             Low        45                   existing paid             radio/tv           1845            Low      1<=X<4                       4         male single                4  no known property   23  for free                 1                    skilled               1            yes   bad
999          Medium        45  critical/other existing credit             used car           4576         Medium  unemployed                       3         male single                4                car   27       own                 1                    skilled               1            yes  good

[1000 rows x 18 columns]

5. [4 pts] Change class column values from 'good' to '1' and 'bad' to '0'.

In [15]:
credits.loc[credits['class'] == 'good', 'class'] = '1'
credits.loc[credits['class'] == 'bad', 'class'] = '0'
credits

    checking_status  duration                  credit_history              purpose  credit_amount savings_status  employment  installment_commitment     personal_status  residence_since property_magnitude  age   housing  existing_credits                        job  num_dependents foreign_worker class
0               Low         6  critical/other existing credit             radio/tv           1169     No Savings         >=7                       4         male single                4        real estate   67       own                 2                    skilled               1            yes     1
1            Medium        48                   existing paid             radio/tv           5951            Low      1<=X<4                       2  female div/dep/mar                2        real estate   22       own                 1                    skilled               1            yes     0
2       No Checking        12  critical/other existing credit            education           2096            Low      4<=X<7                       2         male single                3        real estate   49       own                 1         unskilled resident               2            yes     1
3               Low        42                   existing paid  furniture/equipment           7882            Low      4<=X<7                       2         male single                4     life insurance   45  for free                 1                    skilled               2            yes     1
4               Low        24              delayed previously              new car           4870            Low      1<=X<4                       3         male single                4  no known property   53  for free                 2                    skilled               2            yes     0
..              ...       ...                             ...                  ...            ...            ...         ...                     ...                 ...              ...                ...  ...       ...               ...                        ...             ...            ...   ...
995     No Checking        12                   existing paid  furniture/equipment           1736            Low      4<=X<7                       3  female div/dep/mar                4        real estate   31       own                 1         unskilled resident               1            yes     1
996             Low        30                   existing paid             used car           3857            Low      1<=X<4                       4        male div/sep                4     life insurance   40       own                 1  high qualif/self emp/mgmt               1            yes     1
997     No Checking        12                   existing paid             radio/tv            804            Low         >=7                       4         male single                4                car   38       own                 1                    skilled               1            yes     1
998             Low        45                   existing paid             radio/tv           1845            Low      1<=X<4                       4         male single                4  no known property   23  for free                 1                    skilled               1            yes     0
999          Medium        45  critical/other existing credit             used car           4576         Medium  unemployed                       3         male single                4                car   27       own                 1                    skilled               1            yes     1

[1000 rows x 18 columns]

6. [5 pts] Change the employment column value 'unemployed' to 'Unemployed', and for the others, change to 'Amateur', 'Professional', 'Experienced' and 'Expert', depending on year range.

In [16]:
employment_categories = ['unemployed','<1','1<=X<4','4<=X<7','>=7']
employment_replacement = ['Unemployed', 'Amateur', 'Professional', 'Experienced', 'Expert']
for i in range(5):
    credits.loc[credits['employment'] == employment_categories[i], 'employment'] = employment_replacement[i]
credits

    checking_status  duration                  credit_history              purpose  credit_amount savings_status    employment  installment_commitment     personal_status  residence_since property_magnitude  age   housing  existing_credits                        job  num_dependents foreign_worker class
0               Low         6  critical/other existing credit             radio/tv           1169     No Savings        Expert                       4         male single                4        real estate   67       own                 2                    skilled               1            yes     1
1            Medium        48                   existing paid             radio/tv           5951            Low  Professional                       2  female div/dep/mar                2        real estate   22       own                 1                    skilled               1            yes     0
2       No Checking        12  critical/other existing credit            education           2096            Low   Experienced                       2         male single                3        real estate   49       own                 1         unskilled resident               2            yes     1
3               Low        42                   existing paid  furniture/equipment           7882            Low   Experienced                       2         male single                4     life insurance   45  for free                 1                    skilled               2            yes     1
4               Low        24              delayed previously              new car           4870            Low  Professional                       3         male single                4  no known property   53  for free                 2                    skilled               2            yes     0
..              ...       ...                             ...                  ...            ...            ...           ...                     ...                 ...              ...                ...  ...       ...               ...                        ...             ...            ...   ...
995     No Checking        12                   existing paid  furniture/equipment           1736            Low   Experienced                       3  female div/dep/mar                4        real estate   31       own                 1         unskilled resident               1            yes     1
996             Low        30                   existing paid             used car           3857            Low  Professional                       4        male div/sep                4     life insurance   40       own                 1  high qualif/self emp/mgmt               1            yes     1
997     No Checking        12                   existing paid             radio/tv            804            Low        Expert                       4         male single                4                car   38       own                 1                    skilled               1            yes     1
998             Low        45                   existing paid             radio/tv           1845            Low  Professional                       4         male single                4  no known property   23  for free                 1                    skilled               1            yes     0
999          Medium        45  critical/other existing credit             used car           4576         Medium    Unemployed                       3         male single                4                car   27       own                 1                    skilled               1            yes     1

[1000 rows x 18 columns]